stages:
  - validate
  - plan
  - apply

image:
  name: hashicorp/terraform:light
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

before_script:
  #    - export AWS_ACCESS_KEY=${AWS_ACCESS_KEY_ID}
  #    - export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
  - rm -rf .terraform
  - terraform --version
  - terraform init

test:validate:
  stage: validate
  script:
    - cd ./environments/test
    - terraform validate

test:plan:
  stage: plan
  script:
    - cd ./environments/test
    - terraform plan -out "planfile"
  dependencies:
    - test:validate
  artifacts:
    paths:
      - planfile
#      - ./environments/test/planfile

test:apply:
  stage: apply
  script:
    - cd ./environments/test
    - terraform apply -input=false "planfile"
  dependencies:
    - test:plan
  when: manual
